* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	border: 0;
	outline: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    width: 0px;
}
html {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', Sans-serif;
    font-size: 15px;
    line-height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
}
#ochikin {
    margin: 100px auto 0px auto;
    top: 50px;
    left: 1078px;
    width: 10%;
    border: 5px solid #A3D8E4;
    border-radius: 50%;
}
h1 {
    display: block;
    margin: 10px auto 40px auto;
    width: 50%;
    text-align: center;
}
a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#yjh {
    margin-bottom: 8px;
}
.borderless {
    margin-bottom: 50px;
}
footer {
    height: 25px;
}